
.container{
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    /* justify-content:space-evenly; */
    /* height: auto;
    align-items: center;
    flex-direction: column-reverse;
} */
.box{
    background-color: rgb(47, 20, 199);
    width: 100px;
    height: 100px;
    border: 1px solid gold;
}